{erl_opts, [debug_info]}.

{plugins,
 [{grpc_plugin, {git, "https://github.com/HJianBo/grpcbox_plugin", {tag, "v0.10.1"}}}
]}.

{deps,
 [ jsx,
  {grpc, {git, "https://github.com/emqx/grpc-erl", {tag, "0.6.2"}}}
]}.

{grpc,
 [{protos, ["priv"]},
  {gpb_opts, [{module_name_prefix, "emqx_"},
              {module_name_suffix, "_pb"}]}

]}.

{provider_hooks,
 [{pre, [{compile, {grpc, gen}},
         {clean, {grpc, clean}}]}
 ]}.

{relx, [{release, {exproto_svr, "0.1.0"},
         [exproto_svr,
          jsx,
          grpc,
          sasl, observer]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
